.editorContainer{
  width: 800px;
  height: 600px;
  margin: auto;
  border: solid 1px #cccccc;
  position: relative;
  input, textarea{
    border: none;
    outline: none!important;
  }
  textarea{
    resize:none!important;
    overflow-y: hidden;
  }
}
.focus{
  border: solid 1px #cf1322!important;
}